@import 'ProfileImgModal.scss';

.modal-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .success-message {
    color: green;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-button {
    background: navy;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button {
    background: gray;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
